#main,
#footer {
	display: none;
}

form {
    margin-left: 50px;
    margin-top: 20px;
    height: 80px;
}

#username {
    width: 400px;
}

#password {
    width: 400px;
}

label[for="username"] {
    padding-right: 12px;
}

label[for="password"] {
    padding-right: 22px;
}

input[type="submit"] {
    right: 8px;
    position: absolute;
    margin-top: 29px;
}

